.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}


.editorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.editorPlaceholder {
     color: white;
     overflow: hidden;
     position: absolute;
     top: 15px;
     left: 15px;
     user-select: none;
     pointer-events: none;
}

.editorParagraph {
     color: white;
     margin: 0 0 15px 0;
     position: relative;
     border-color: #393445;
}


