.mainParent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 31%;
}



.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.searchBar {
    color: white;
}

.mainTable {
    border-radius: 20px;
}

.mainTableHeaderStyle {
    background-color: #393445;
    border-radius: 20px;
}

.mainTableRowStyle {
    background-color: #4f4a5a;
    color: white;
    border-radius: 20px;
}

