
.homeButton {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}


.mainParent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20%;
}



.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.searchBar {
    color: white;
}

