.body {
    --ag-background-color: #2e2c31;
    --ag-foreground-color: white;
    --ag-spacing: 20px;
    --ag-border-color: #bacbdb;
    --ag-font-size: 18px;
}

.homeButton {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}


.mainParent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20%;
}



.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.searchBar {
    color: white;
}

.mainTable {
    border-radius: 20px;
}

.mainTableHeaderStyle {
    background-color: #393445;
    border-radius: 20px;
}

.mainTableRowStyle {
    background-color: #4f4a5a;
    color: white;
    border-radius: 20px;
}

